<h1 class="display-6 center mt-4">Articles</h1>
<%= will_paginate list_classes: %w(pagination justify-content-center mt-4) %>
<%= render 'article', obj: @articles %>
<%= will_paginate list_classes: %w(pagination justify-content-center mt-4) %>
